
/***** header *****/
.header {
    padding: 10px 10px 0 10px;
    margin: 0px 0px 20px 0px;
    background-color: #b0c4de;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    line-height: 1;
}

.header h1 a {
    color: #fff;
    text-decoration: none;
}

.header .logo {
    margin: 0 10px 0 0;
    border: none;
    vertical-align: -15px;
    height: 50px;
}

/***** footer *****/
.footer {
    color: #fff;
    padding: 30px 0px 30px 0px;
    background-color: #b0c4de;
    text-align: center;
}

/***** main *****/
#main {
    display: flex;
}

.sidemenu {
    border: solid 1px #b0c4de;
    margin: 0px 10px 10px 0px;
    flex: 1;
}

/***** contents-wrapper *****/
.contents-wrapper {
    border: solid 1px #b0c4de;
    margin: 0px 0px 10px 0px;
    padding: 5px;

    flex: 5;
    display: flex;
    flex-direction: column;
}
.contents-wrapper p {
    margin: 0px;
}
.contents-wrapper ul {
    margin: 0px;
}
.contents-wrapper h2 {
    margin: 0px;
}

.contents-box {
    border: dotted 1px darkgray;
    margin-top: 5px;
    padding: 5px;
}

.contents-box-no-boarder {
    margin-top: 5px;
    padding: 0px;
}

.contents-title {
    font-color: navy;
    text-decoration: underline;
}

.detail-condition {
    font-size: small;
}

.tbl-search-result {
    margin: 5px 0px 10px;
    border: 1px solid #e3e3e3;
}
.tbl-search-result th {
    width: 25%;
    text-align: left;
    padding: 10px 5px 5px 25px;
    border: 1px solid #e3e3e3;
    border-style: solid none;
    font-weight: normal;
    vertical-align: middle;
    background-color: #f6f6f6;
}
.tbl-search-result td {
    vertical-align: middle;
    background: #FFF;
    padding: 10px 5px 5px 25px;
    border: 1px solid #e3e3e3;
    border-style: solid none;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.contents-error-hide {
    opacity: 0;
    margin: 25px 0px 0px 40px;
    position: fixed;
}

.contents-error-show {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
    position: fixed;
    width: 260px;
    height: 40px;
    margin: -20px 0px 0px 250px;

    color: #ffffff;
    background-color: #ff0000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}



/***** PAYMENT *****/
.paymethod-box {
    margin: 0px 0px 10px 0px;
}

#credit-new-input-area {
    margin: 0px 0px 10px 50px;
    padding: 10px;
    border: 1px solid #e3e3e3;
}

.credit_num_text {
    width: 80px;
}
.credit_name {
    width: 120px;
}
.credit_expiry {
    width: 40px;
}
.credit_sec_code {
    width: 60px;
}

/***** CONFIRM *****/
.contents-confirm-box {
    margin: 0px 0px 10px 30px;
}

/***** BUTTON *****/
#box-bottom-button {
    display: flex;
    justify-content: flex-end;
}
#box-bottom-button-confirm {
    display: flex;
    justify-content: center;
}